#delete{
    float: right;
    margin-top: -135px;
    margin-right: 40px;
}
#edit{
    float: right;
    margin-top: -135px;
    margin-right: 123px;
}
.heroDiv{
    flex: display;
    height: 193px;
    max-width: 50%;
    margin-left: 1%;
    margin-top: 23px;
}
pre{
    margin-top: -10px;
    margin-left: -103px;
    font-size: 17px;
}


    
  