.container{
    width: 500px; 
    margin-top: 10%; 
    padding: 1%;
}

h3{
    text-align: center;
    color: navy;
}
a{
    float: right;
    text-decoration: none;
}
a:hover{
    color: navy;
    font-weight: 600;
}
