.h2, h2 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: -46px;
    font-family: none;
}
.container{
margin-top: 33px;
padding: 30px;
width: 51%;
}

#submit{
    margin-left: 35%;
}
.example-full-width {
    width: 100%;
  }